* {
  margin: 0;
  padding: 0;
}

.container2 {
  max-width: 414px;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

body {
  background: linear-gradient(
    89.98deg,
    #2e3b66 5.98%,
    #1d2540 39.15%,
    #0d0d0d 94.08%
  );
}

header {
  background: linear-gradient(90deg, #05746a 0%, #0e0e0e 100%);
}

p {
  color: white;
  font-family: "open sans";
  font-size: 16px;
}

.navigation {
  height: 96px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.fa-bars {
  display: inherit;
}

.logo {
  width: 135.016px;
}

.searchbar {
  display: none;
}

a {
  text-decoration: none;
  color: white;
  font-family: "exo";
  font-weight: 500;
  font-size: 18px;
}

#games-mobile a,
#home-mobile a,
#about-mobile a,
#community-mobile a {
  color: black;
  font-weight: bold;
}

ul li a:hover {
  color: #0d0d0d;
  font-weight: bold;
}

.navigation ul li {
  list-style: none;
  display: block;
  margin: 17px;
}

.tabs li {
  list-style: none;
  display: inline-block;
}

.tabs {
  width: 100%;
  display: flex;
}

.tabs-button {
  width: 100%;
  line-height: 42px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  font-size: 18px;
  font-family: "exo";
  color: white;
  font-weight: 500;
  box-shadow: 0px 3px 5px -2px #0d0d0d, inset 2px 2px 6px 0px #0d0d0d;
}

.tabs-button a {
  width: 100%;
  display: block;
}

.home-mobile {
  background: #2a395e;
}

#home-mobile {
  background: linear-gradient(90.06deg, #057369 0.05%, #075b53 99.95%);
  box-shadow: 0px 3px 5px -2px #0d0d0d;
}

#games-mobile {
  box-shadow: 0px 3px 5px -2px #0d0d0d;
  background: linear-gradient(90deg, #075a53 0%, #0a413c 100%);
}

.games-mobile {
  background: #2a395e;
}

.games-mobile:hover {
  color: #0d0d0d;
}

#about-mobile {
  background: linear-gradient(90deg, #0a413c 0%, #0c2825 100%);
  box-shadow: 0px 3px 5px -2px #0d0d0d;
}

.about-mobile {
  background: #2a395e;
}

.about-mobile:hover {
  color: #0d0d0d;
}

#community-mobile {
  box-shadow: 0px 3px 5px -2px #0d0d0d;
  background: linear-gradient(90deg, #0c2825 0%, #0e0e0e 100%);
}

.community-mobile {
  background: #2a395e;
}

.community-mobile:hover {
  color: #0d0d0d;
}

i {
  color: white;
}

.fa-user {
  font-size: 32px;
  transition: 0.4s;
}

.fa-user:hover {
  cursor: pointer;
  color: #ed1c24;
}

.fa-cog {
  display: none;
}

.fa-bars {
  font-size: 32px;
}

.fa-bars:hover {
  color: #ed1c24;
  cursor: pointer;
}
/*  */

#hamburger-menu {
  display: none;
}

.dropdown {
  position: absolute;
  top: 104px;
  left: 0;
  width: 200px;
  height: 305px;
  z-index: 10;
  opacity: 0;
  display: none;
  background: rgba(13, 13, 13, 0.98);
  list-style: none;
  transition: all 0.2s linear;
  transform: translateY(35px);
  border-radius: 0 20px 20px 0;
}

.screenreader-only {
  display: none;
}

#hamburger-menu:checked ~ .dropdown {
  /* show nav */
  display: block;
  transform: translateY(35px);
  opacity: 1;
}

.dropdown-item:hover {
  color: #ed1c24;
}

/*  */
.search {
  width: 42px;
  position: absolute;
  transform: translateX(-51px) translateY(-9px);
  cursor: pointer;
}

.search:hover {
  filter: invert(40%) grayscale(100%) brightness(40%) sepia(100%)
    hue-rotate(-50deg) saturate(400%) contrast(2);
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}

.hero-banner {
  height: 282px;
  position: relative;
}

.header-picture {
  height: 100%;
  background-image: url("../images/control.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  color: white;
  font-family: "exo";
  font-size: 30px;
  font-weight: 600;
}

.red {
  color: #ed1c24;
}

.red3 {
  color: #ed1c24;
  font-weight: normal;
}

.tagline-box {
  height: 104px;
  position: absolute;
  top: 45px;
  left: 20px;
}

.less-important {
  display: none;
}

.flex-buttons {
  margin-top: 20px;
  display: flex;
}

.button-margin-right {
  margin-right: 20px;
}

button {
  background-color: #0d0d0d;
  border-color: #ed1c24;
  color: white;
  text-align: center;
  font-size: 12px;
  border-width: 4px;
  border-radius: 0px 0px 20px 0px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 95px;
  height: 31px;
  border-style: solid;
  font-family: "open sans";
  font-weight: 500;
}

.client-button {
  display: none;
}

button:hover {
  box-shadow: #ed1c24 0px 0px 20px 0px;
}

.cyberpunk {
  width: 177px;
  height: 231px;
  transform: translateY(-30px);
}

.flex-items {
  display: flex;
  justify-content: space-around;
}

.flex-items-cyberpunk {
  display: flex;
  justify-content: space-between;
}

.cyberpunk-description {
  width: 177px;
  height: 205px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 32px;
}

.hide-mobile {
  display: none;
}

.greensky-box {
  height: 206px;
  position: relative;
}

.greensky {
  background-image: url(../images/greensky.jpg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  font-size: 22px;
  font-family: "Exo";
  font-weight: 500;
}

.circle {
  width: 9px;
  height: 9px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-top: 20px;
}

.red2 {
  background-color: #ed1c24;
}

.underline {
  font-size: 30px;
  font-weight: bold;
  font-family: "Exo";
  border-bottom: 3px solid #ed1c24;
  color: white;
  width: fit-content;
  margin-bottom: 40px;
}

.p-bigger {
  font-weight: lighter;
}

.about-us {
  width: 177px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-us-picture-box {
  height: 235px;
}

.about-us-picture {
  width: 177px;
  height: 191px;
  background-image: url("../images/slot-machines.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  margin-bottom: 20px;
}

.margin-bottom {
  margin-bottom: 96px;
}

.circle-profile-box {
  height: 261px;
}

.circle-profile {
  width: 177px;
  height: 177px;
  border-radius: 50%;
  background: rgba(6, 0, 0, 0.4);
}

.profile-picture {
  width: 48px;
  height: 48px;
}

h4 {
  font-family: "open sans";
  font-size: 14px;
  font-weight: lighter;
  text-decoration: underline 1px;
  color: white;
}

.drbrave-text {
  width: 135px;
  height: 56px;
  font-family: "open sans";
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 10px;
}

.center-drbrave {
  height: 177px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.arrows {
  height: 177px;
  width: 177px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  font-size: 21px;
}

.fa-arrow-left {
  color: #ed1c24;
  transition: 0.6s;
}

.fa-arrow-left:hover {
  cursor: pointer;
  color: white;
}

.fa-arrow-right {
  color: #ed1c24;
  transition: 0.6s;
}

.fa-arrow-right:hover {
  cursor: pointer;
  color: white;
}

.community-text {
  height: 249px;
  width: 177px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background: #1d2540;
}

.footer-box-mobile {
  width: 177px;
  margin-bottom: 32px;
}

.smaller {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 32px;
}

.icon-size {
  width: 48px;
}

.social-box {
  height: 86px;
  align-items: center;
}

.youtube {
  width: 42px;
  height: 42px;
  transform: translateY(1px);
}

.twitch {
  transform: translateY(2.5px);
  width: 46px;
  height: 46px;
}

.facebook {
  width: 46px;
  height: 46px;
  transform: translateY(2px);
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.flex-icons {
  display: flex;
  justify-content: space-between;
  display: none;
}

h5 {
  font-size: 20px;
  font-family: "Exo";
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

h6 {
  font-size: 22px;
  font-family: "Exo";
  font-weight: 500;
  color: white;
  display: inline-block;
  margin-right: 10px;
}

.fa-arrow-up {
  font-size: 20px;
  color: #ed1c24;
}

.red2:hover {
  cursor: pointer;
  background-color: white;
}

/* About page start */

.about-body {
  background: #f2f2f2;
}

h2 {
  font-family: "exo";
  font-size: 24px;
}

/* About page ends */

@media screen and (min-width: 1028px) {
  .container {
    max-width: 1300px;
    margin: 0 auto;
  }

  .container2 {
    max-width: 1300px;
    margin: 0 auto;
  }

  .navigation {
    justify-content: space-between;
  }

  .navigation ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
  }

  p {
    font-size: 24px;
  }

  .hide-mobile {
    display: initial;
  }

  .hide-desktop {
    display: none;
  }

  .fa-bars {
    display: none;
  }

  #desktop-active {
    color: #0d0d0d;
    font-weight: bold;
  }

  .searchbar {
    width: 232px;
    height: 32px;
    border-radius: 20px;
    text-indent: 10px;
    font-family: "open sans";
    font-size: 14px;
    font-weight: 500;
    border-width: 0;
    display: inherit;
  }

  .fa-cog {
    font-size: 32px;
    transition: 0.5s;
    display: inherit;
  }

  .fa-cog:hover {
    cursor: pointer;
    color: #ed1c24;
  }

  .hero-banner {
    height: 800px;
    position: relative;
  }

  h1 {
    font-size: 45px;
    font-weight: 600;
  }

  .tagline-box {
    width: 530px;
    height: 178px;
    position: absolute;
    top: 86px;
  }

  .client-button {
    display: initial;
  }

  .flex-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
  }

  .button-margin-right {
    margin-right: 0px;
  }

  button {
    font-size: 20px;
    border-width: 7px;
    border-radius: 0px 0px 40px 0px;
    width: 148.5px;
    height: 54px;
    margin-top: 30px;
  }

  .flex-items {
    justify-content: space-between;
  }

  .tagline-box2 {
    width: 530px;
    position: absolute;
    bottom: 86px;
    right: 0px;
  }

  .less-important {
    font-weight: 500;
    display: inherit;
  }

  .cyberpunk {
    width: 530px;
    height: 680.39px;
    transform: translateY(-62px);
  }

  .cyberpunk-description {
    width: 530px;
    height: 520px;
    margin-top: 70px;
    margin-bottom: 310px;
  }

  h3 {
    font-size: 45px;
  }

  .circle {
    width: 16px;
    height: 16px;
  }

  .underline {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .p-bigger {
    font-size: 28px;
  }

  .about-us {
    width: 530px;
    height: 544px;
  }

  .about-us-picture {
    width: 530px;
    height: 543.984px;
    border-radius: 54px;
  }

  .margin-bottom {
    margin-bottom: 310px;
  }

  .circle-profile {
    width: 530px;
    height: 530px;
    border-radius: 50%;
    background: rgba(6, 0, 0, 0.4);
  }

  .profile-picture {
    width: 136.8px;
    height: 136.8px;
  }

  h4 {
    font-size: 31px;
  }

  .drbrave-text {
    width: 375px;
    height: 134px;
    font-size: 24px;
  }

  .center-drbrave {
    height: 530px;
  }

  .arrows {
    height: 530px;
    width: 530px;
    font-size: 60px;
  }

  .community-text {
    height: 530px;
    width: 530px;
  }

  footer {
    height: 260px;
  }

  .flex-icons {
    display: flex;
    justify-content: space-between;
  }

  .icon-size {
    width: 68px;
  }

  .youtube {
    width: 59px;
    height: 59px;
    transform: translateY(6px);
  }

  .twitch {
    transform: translateY(2.5px);
    width: 66px;
    height: 66px;
  }

  .facebook {
    width: 66px;
    height: 66px;
    transform: translateY(2px);
  }

  .footer-box {
    width: 530px;
    height: 260px;
  }

  h5 {
    font-size: 22px;
  }

  h6 {
    font-size: 24px;
    margin-right: 20px;
  }

  .fa-arrow-up {
    font-size: 32px;
  }
}
